/*--------------GERAIS-------------*/
* {
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  text-decoration: none;
}
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}
body,
html {
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(255, 250, 184, 0.7),
      rgba(209, 255, 135, 0.8),
      rgba(255, 194, 148, 0.7)
    ),
    url("../img/img-body.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.small-text {
  font-size: 12px;
}
/*--------------GERAIS-------------*/
/*--------------NAV-------------*/
nav img {
  width: 150px;
}
.navbar-brand, .form-inline {
  margin: 0 auto;
}
/*--------------NAV-------------*/
/*--------------MAIN-------------*/
.btn-secondary {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: #333;
}
.btn-secondary.active {
  background-color: #333;
  border-color: #333;
  color: #fff;
}
.card {
  background: #a3bd8c;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.agrupar {
  justify-content: space-between;
  margin: 0 auto;
  padding: 1px 0 0 1px;
}
.agrupar input {
  min-width: 5vh;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.larger-input {
  height: 50px;
  font-size: 18px;
}
.tempo-input {
  border: none;
  width: 100%;
  text-align: center;
  padding: 0;
  font-size: 24px;
  text-shadow: black;
  font-weight: bold;
}
.form-group {
  margin-bottom: 15px;
}
.mais {
  margin: 30px 1px 50px 1px;
}
/*--------------MAIN-------------*/
/*--------------FOOTER-------------*/
/*--------------FOOTER-------------*/
/*--------------MEDIA-------------*/
@media (min-width: 992px) {
  .agrupar input {
    min-width: 5vh;
  }
  table input[type="number"],table input[type="text"] {
    border-radius: 10px;
  }
  .lock {
    border-radius: 10px;
  }
  .agrupar-botao{
    margin: 0 auto;
  }
}

@media (max-width: 991.98px) {
  .lock {
    border-radius: 10px;
  }
  .agrupar-botao{
    margin: 0 auto;
  }

}
@media (max-width: 575.98px) {
  .container{
    min-width: 330px;
  }
}
/*--------------MEDIA-------------*/
