* {
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  text-decoration: none;
}
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}
body,
html {
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(255, 250, 184, 0.7),
      rgba(209, 255, 135, 0.8),
      rgba(255, 194, 148, 0.7)
    ),
    url("../img/img-body.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
nav img {
  width: 150px;
}
.container-md {
  border-radius: 2px;
  min-height: 1080px;
}
.temporizador-table {
  margin-top: 20px;
}
.bg-thead,
tr {
  background: #a3bd8c;
}
t[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.table-cols-6 th:not(:first-child),
.table-cols-6 td:not(:first-child) {
  width: calc((100% / 6));
}
.agrupar input {
  min-width: 5vh;
}

@media (min-width: 992px) {
  .agrupar input {
    min-width: 5vh;
  }
  table input[type="number"],table input[type="text"] {
    border-radius: 10px;
  }
  .lock {
    border-radius: 10px;
  }
  .agrupar-botao{
    margin: 0 auto;
  }
}

@media (max-width: 991.98px) {
  .lock {
    border-radius: 10px;
  }
  .agrupar-botao{
    margin: 0 auto;
  }

}
@media (max-width: 575.98px) {
  .container{
    min-width: 330px;
  }
}


.navbar-brand, .form-inline {
  margin: 0 auto;
}
.mais {
  margin: 30px 1px 50px 1px;
}
.btn-secondary {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: #333;
}
.btn-secondary.active {
  background-color: #333;
  border-color: #333;
  color: #fff;
}
.card {
  background: #a3bd8c;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.larger-input {
  height: 50px;
  font-size: 18px;
}
.tempo-input {
  border: none; /* remove border */
  width: 100%; /* make input field take up full width */
  text-align: center; /* center the text */
  padding: 0; /* remove padding */
  font-size: 24px; /* adjust font size to your liking */
  text-shadow: black;
  font-weight: bold;
}
.small-text {
  font-size: 12px;
}
.agrupar {
  justify-content: space-between;
  margin: 0 auto;
  padding: 1px 0 0 1px;
}

.form-group {
  margin-bottom: 15px;
}
