/*--------------GERAIS-------------*/
* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
}

li {
  text-decoration: none;
}
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}
body,
html {
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(255, 250, 184, 0.7),
      rgba(209, 255, 135, 0.8),
      rgba(255, 194, 148, 0.7)
    ),
    url("img/img-body.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.small-text {
  font-size: 12px;
}


/*--------------GERAIS-------------*/
/*--------------MENU-------------*/
.sidebar-header img{
  width: 50px;
}
body {
  font-family: Arial, sans-serif;
}
.bg-menu{
  height: 100%;
  background: white;
}
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: width 1s, margin-left 1s;
  z-index: 1000; 
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.sidebar .logo {
  max-height: 30px;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: black;
}
.sidebar .nav-link:hover {
  color: white;
}

.sidebar .nav-link .link-text {
  margin-left: 10px;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar.collapsed .link-text{
  display: none;
}

.sidebar.collapsed .logo, .sidebar.collapsed .btn-dark-mode {
  display: none;
}
.sidebar.collapsed .nav-link i, .sidebar.collapsed .sidebar-header i {
  font-size: 20px;
}
.sidebar.collapsed .sidebar-header{
  font-size: 20px;
  justify-content: center;
}
.sidebar.collapsed .login-cad-menu {
    display: none;
}
.sidebar .login-cad-menu {
  margin-left: 10px;
}
.nav-item a:hover{
  background: #2c5c00;
}
.nav-item .active{
  background: #2c5c00;
  color: white;
}
.sidebar.collapsed a{
  justify-content: center;
}
.btndelete{
  color: white;
  background: none;
}
.btndelete:hover{
  background: red;
}
/*--------------MENU-------------*/
/*--------------MAIN-------------*/
.content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 1s;
}

.collapsed + .content {
  margin-left: 80px;
}
.card {
  background: #a3bd8c;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  min-width: 235px;
}
.agrupar {
  justify-content: space-between;
  min-width: 40px;
  padding: 1px 0 0 1px;
}
.agrupar input {
  min-width: 5vh;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.larger-input {
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  margin: 0 auto;
  font-size: 10px;
}
.tempo-input {
  border: none;
  width: 100%;
  text-align: center;
  padding: 0;
  font-size: 24px;
  text-shadow: black;
  font-weight: bold;
}
.form-group {
  margin-bottom: 15px;
}
.mais {
  margin: 30px 1px 50px 1px;
}
.btn-hamburguer{
  background: #a3bd8c;
}
.btn-hamburguer:hover{
  background: #2c5c00;
}
.btn-new-timer,
.btn-ordem-timer{
  background: white;
  color: black;
}
.btn-new-timer:hover, 
.btn-ordem-timer:hover{
  background: #2c5c00;
  color: white;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
/*--------------MAIN-------------*/
/*--------------FOOTER-------------*/
/*--------------FOOTER-------------*/

/*--------------TESTE-------------*/


/*--------------MEDIA-------------*/

@media (max-width: 575.98px) {
  .container{
    min-width: 330px;
  }
  .larger-input{
    max-width: 50px;
  }
  .agrupar-botao{
    margin-left: 15px;
  }
  .agrupar-botao button{
    min-width: 40px;
    min-height: 40px;
  }
}
@media (max-width: 991.98px) {
  .lock {
    border-radius: 10px;
  }
  .agrupar-botao{
    margin: 0 auto;
  }
  .sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: width 1s, margin-left 1s;
  }
  .sidebar.collapsed {
    left: 0;
  }
  .sidebar.collapsed .link-text {
    display: none;
  }
  .sidebar .logo {
    display: inline;
  }
  .sidebar.collapsed {
    display: inline;
  }
  .content {
    margin-left: 80px;
  }
  .agrupar-botao{
    margin-left: 15px;
  }
  .agrupar-botao button{
    min-width: 40px;
    min-height: 40px;
  }
  .menu-lateral {
    left: 0;
}
}
@media (min-width: 992px) {
  .agrupar, .agrupar-botao{
    margin: 0 1px;
  }
  .agrupar-botao{
    margin-left: 5px;
  }
  .agrupar-botao button{
    min-width: 40px;
    min-height: 40px;
  }
}
/*--------------MEDIA-------------*/

/*--------------DARK MODE-------------*/

body.dark-mode {
  background-image: linear-gradient(
      to right,
      rgba(41, 41, 14, 0.9),
      rgba(29, 34, 19, 0.9),
      rgba(31, 21, 13, 0.9)
    ),
    url("img/img-body.jpg");
}
.sidebar.dark-mode {
  background-color: #1e1e1e;
  border-color: #4b0303;
}

.dark-mode .card input, .dark-mode .card .lock{
  background-color: #2e2b2b;
  color: white;
}
.dark-mode .card .lock {
  margin: 0 auto;
}
.dark-mode .nav-item a:hover,
.dark-mode .nav-item .active{
  background: #4e0000;
}
.dark-mode .card, 
.dark-mode .btn-dark-mode, 
.dark-mode .btn-hamburguer, 
.dark-mode .btn-new-timer,
.dark-mode .btn-ordem-timer
{
  background-color: #1e1e1e;
}
.dark-mode .btn-hamburguer:hover,
.dark-mode .btn-dark-mode:hover,
.dark-mode .btn-new-timer:hover,
.dark-mode .btn-ordem-timer:hover{
  background-color: #dd6060;
  color: #4e0000;
}
.dark-mode .btn-new-timer,
.dark-mode .btn-ordem-timer,
.dark-mode .btn-hamburguer,
.dark-mode .btn-dark-mode,
.dark-mode .card p,
.dark-mode .btndelete,
.dark-mode .card-title,
.dark-mode .card-text,
.dark-mode .progress-bar,
.dark-mode .nav-link
{
  color: white;
  border-color: #4e0000;
}

/* Outros estilos para elementos específicos no modo escuro */


/*--------------DARK MODE-------------*/